@import (reference) "color.less";
/*
  FONT
____________________________________________________________________
*/
.font-face(@family, @file, @weight: normal, @style: normal) {
  @font-face {
      font-family: @family;
      font-style: @style;
      font-weight: @weight;
      src: url("atom://ergonomicon-syntax/fonts/@{file}.woff2") format("woff2"),
           url("atom://ergonomicon-syntax/fonts/@{file}.woff") format("woff"),
           url("atom://ergonomicon-syntax/fonts/@{file}.ttf") format("truetype");
  }
}

.font-face('Fira Code', FiraCode-Light, 100);
.font-face('Fira Code', FiraCode-Regular, 400);
.font-face('Fira Code', FiraCode-Medium, 500);
.font-face('Fira Code', FiraCode-Bold, 700);

@syntax-family: 'Fira Code', Consolas, monospace !important;

/*
  EDITOR
____________________________________________________________________
*/
atom-text-editor,  { //atom-text-editor
  font-family: @syntax-family;
  color: @syntax-text;
  background-color: @syntax-background;

  .cursor {
    color: @syntax-cursor;
  }
  .invisible {
    color: @syntax-text;
  }
}

atom-text-editor[mini] .scroll-view,atom-text-editor .scroll-view {
  padding-left: 1px;
}

/* Active tab */
.tab-bar .syntax--tab.active[data-type$="Editor"],
.tab-bar .syntax--tab.active[data-type$="Editor"] .syntax--title,
.tab-bar .syntax--tab.active[data-type="MarkdownPreviewView"],
.tab-bar .syntax--tab.active[data-type="MarkdownPreviewView"] .syntax--title{
  color: @syntax-text !important;
  background-color: @syntax-background !important;
}

.tab-bar .syntax--tab.active[data-type$="Editor"]:after,
.tab-bar .syntax--tab.active[data-type="MarkdownPreviewView"]:after {
  border-bottom-color: @syntax-background !important;
}

/* Scrollbar */
.scrollbars-visible-always atom-text-editor /deep/ ::-webkit-scrollbar-corner,
.scrollbars-visible-always atom-text-editor /deep/ ::-webkit-scrollbar-track {
  background-color: @syntax-background !important;
}
.scrollbars-visible-always atom-text-editor /deep/ ::-webkit-scrollbar-thumb {
  border-color: @syntax-background !important;
}

/*
  GUIDE
____________________________________________________________________
*/

atom-text-editor, {
  & .wrap-guide,
  .wrap-guide {
    background-color: @guide-wrap;
  }
  .indent-guide {
    color: @guide-indent;
  }
  .invisible-character {
    color: @guide-invisible;
  }
}

/*
  GUTTER
____________________________________________________________________
*/

atom-text-editor {
  .gutter {
    color: @gutter-text;
    background-color: @gutter-background;

    .line-number {
      &:after,
      &.folded {
        color:;
      }
      &.cursor-line {
        color: @gutter-text-selected;
        background-color: @gutter-background-selected;
      }

      &.cursor-line-no-selection {
        color: @gutter-text-selected;
      }
    }
  }
}

/*
  SELECTION
____________________________________________________________________
*/

atom-text-editor {
  .selection .region {
    background-color: @syntax-selection;
  }
  .search-results .syntax--marker {
    .region {
      background-color: @syntax-selection;
    }
    &.syntax--current-result .region {
      color: @syntax-highlighted;
      border: 1px solid @syntax-highlighted;
    }
  }
}

/*
  TYPOGRAPHY
____________________________________________________________________
*/
atom-text-editor {
  -webkit-font-feature-settings: "liga" on, "calt" on;
  text-rendering: optimizeLegibility;
}
atom-text-editor .syntax--string.syntax--quoted,
atom-text-editor .syntax--string.syntax--regexp {
  -webkit-font-feature-settings: "liga" off, "calt" off;
}
.syntax--source.syntax--gfm .syntax--markup{
  -webkit-font-smoothing: auto;
}

/*
  CORE
____________________________________________________________________
*/

.syntax--none {
  color: @syntax-text;
}
.syntax--punctuation {
  color: inherit !important;
}
.syntax--comment {
  color: @syntax-discreet;
}
.syntax--keyword {
  color: @syntax-important;
}
.syntax--constant {
  color: @syntax-significant;
}
.syntax--variable {
  color: @syntax-common;
}
.syntax--string {
  color: @syntax-unsignificant;
  font-weight: 100;
}
.syntax--storage {
  color: @syntax-uncommon;
}
.syntax--illegal.syntax--invalid {
  color: @syntax-highlighted;
}
.syntax--support {
  color: @syntax-lowlighted;
}
.syntax--entity {
  color: @syntax-common;
}

/*
  SPECIFICS
____________________________________________________________________
*/

.syntax--modifier {
  color: darken(@syntax-common,20%);
}

.syntax--control {
  color: @syntax-lowlighted;
  font-weight: 700;
}

.syntax--primitive {
  color: @syntax-basic;
  font-weight: 700;
}

.syntax--elements {
  color: @syntax-text;
}

/* Methods */
.syntax--method-call .syntax--method {
  color: @syntax-common;
  font-weight: 500;
}
.syntax--method-parameters {
  color: @syntax-text;
  font-weight: 100;
}




/*
  JAVA
____________________________________________________________________
*/
.syntax--java {
  .syntax--entity {
    text-decoration: underline;
  }
  .syntax--storage  {
    color: @syntax-text;
  }
}




/*
  CSS
____________________________________________________________________
*/

.syntax--css {
  .syntax--property-list {
    &.syntax--end {
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid lighten(@syntax-background,3%);
      }
    }
  }

  .syntax--selector {
    font-weight: 500;
  }
  .syntax--terminator {
    color: @syntax-important !important;
  }
  .syntax--entity.syntax--pseudo-element {
    color: @syntax-significant;
  }
  .syntax--entity.syntax--pseudo-class {
    color: @syntax-uncommon;
  }
  .syntax--function {
    color: darken(@syntax-basic,20%);
    font-weight: 700;
  }
  .syntax--unit,
  .syntax--entity  {
    color: darken(@syntax-common,20%);
  }
  .syntax--tag {
    color: @syntax-highlighted;
  }
  .syntax--attribute {
    color: @syntax-text;
  }
  .syntax--constant  {
    color: @syntax-text;
    &.syntax--numeric {
      color: @syntax-common;
    }
    &.syntax--font-name,
    &.syntax--color {
      color: lighten(@syntax-unsignificant,10%);
    }
    &.syntax--color {
      font-weight: 100;
    }
  }
  .syntax--unit {
    font-variant: small-caps;
  }
  .syntax--wildcard, .syntax--id,
  .syntax--important {
    color: darken(@syntax-important,20%);
    font-weight: 700;
  }
}




/*
  JSON
____________________________________________________________________
*/

.syntax--json {
  .syntax--punctuation {
    font-weight: 700;

    &.syntax--separator,
    &.syntax--pair  {
      color: @syntax-important !important;
    }
    &.syntax--key-value,
    &.syntax--begin:not(.string),
    &.syntax--end:not(.string)  {
      color: darken(@syntax-common,20%) !important;
    }
  }
  .syntax--string {
    color: @syntax-text;
    font-weight: 500;
  }
  .syntax--string +.syntax--value .syntax--string {
    color: @syntax-lowlighted;
    font-weight: 100;
  }
}

/*
  MARKDOWN
____________________________________________________________________
*/

.syntax--markup {
  font-weight: 100;

  &.syntax--heading {
    color: @syntax-lowlighted;
    font-weight: 700;
  }
  &.syntax--heading-1 {
    font-size: 125%;
    line-height: 125%;
  }
  &.syntax--heading-2 {
    font-size: 120%;
    line-height: 120%;
  }
  &.syntax--heading-3 {
    font-size: 115%;
    line-height: 115%;
  }
  &.syntax--heading-4 {
    font-size: 110%;
    line-height: 110%;
  }
  &.syntax--heading-5 {
    font-size: 105%;
    line-height: 105%;
  }
  &.syntax--italic {
    color: darken(@syntax-common,10%);
    font-style: italic;
  }
  &.syntax--bold {
    color: @syntax-common;
    font-weight: 700;
  }
  &.syntax--underline {
    text-decoration: underline;
  }
  &.syntax--strike {
    color: @syntax-unsignificant;
    text-decoration: line-through;
  }
  &.syntax--link {
    color: @syntax-basic;
  }
  &.syntax--code > .syntax--support,
  &.syntax--raw {
    color: @syntax-highlighted;
  }
  &.syntax--raw {
    background-color: darken(@dark, 5%);
  }
}

.syntax--gfm {
  &.syntax--mention + .syntax--string,
  &.syntax--mention {
    color: @syntax-significant;
  }
  &.syntax--list {
    padding-right: 10px;
    color: @syntax-lowlighted;
    font-weight: 700;
    font-size: 110%;
    line-height: 110%;
  }
  &.syntax--table {
    .syntax--border {
      color: @syntax-unsignificant;
    }
  }
  &.syntax--hr:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: @syntax-discreet;
  }
}

.syntax--source.syntax--gfm {
  & > .syntax--comment.syntax--quote {
    padding-left: 35px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 120%;
    line-height: 120%;
  }
  & > .syntax--heading:after {
    content: "";
    display: block;
    opacity: 0.1;
    width: 50%;
    height: 1px;
    background-color: @syntax-lowlighted;
  }
}
/*
  HTML
____________________________________________________________________
*/

.syntax--html {
  &.syntax--tag {
    color: @syntax-lowlighted;
  }
  &.syntax--inline {
    color: @syntax-basic;
  }
  &.syntax--id {
    color: @syntax-significant;
    &.syntax--attribute-name {
      color: @syntax-uncommon;
    }
  }
  &.syntax--comment {
    color: @syntax-discreet;
  }
}

/*
  ADJUSTMENTS
____________________________________________________________________
*/

.syntax--string {
  .syntax--markup {
    color: @syntax-unsignificant;
  }
}

/* Imports */
.syntax--import {
  .syntax--keyword {
    color: @syntax-unsignificant;
  }
  .syntax--option {
    color: @syntax-text;
  }
  .syntax--string,
  .syntax--string .syntax--markup,
  .syntax--storage {
    color: @syntax-highlighted;
  }
}
